  <div class="g8 fl">
    <p class="Heading_2">Contacts:<br /></p>
    <p class="Heading_2"><a href="mailto:paolo.dona@gmail.com" title="mailto:paolo.dona@gmail.com">paolo.dona@gmail.com</a><br /></p>
    <p class="Heading_2">My stuff:<br /></p>
    <p class="Playlist"><a title="http://www.linkedin.com/in/paolodona" onkeypress="window.open(this.href); return false;" onclick="window.open(this.href); return false;" href="http://www.linkedin.com/in/paolodona">Curriculum Vitae</a><br /></p>
    <p class="Playlist"><a title="http://www.anobii.com/people/paolodona" onkeypress="window.open(this.href); return false;" onclick="window.open(this.href); return false;" href="http://www.anobii.com/people/paolodona">Current bookshelf</a><br /></p>
    <p class="Playlist"><a title="http://github.com/paolodona" onkeypress="window.open(this.href); return false;" onclick="window.open(this.href); return false;" href="http://github.com/paolodona">Open source projects</a> <br /></p>
    <p class="Playlist"><a title="http://www.youtube.com/paolodona" onkeypress="window.open(this.href); return false;" onclick="window.open(this.href); return false;" href="http://www.youtube.com/paolodona">YouTube channel</a><br /></p>
    <p class="Playlist"><a title="http://picasaweb.google.com/paolo.dona" onkeypress="window.open(this.href); return false;" onclick="window.open(this.href); return false;" href="http://picasaweb.google.com/paolo.dona">My photo gallery</a></p>
  </div>

  <div class="g8 fl">
    <p class="Heading_2">Keep in touch!<br /></p>
    <p class="Playlist">
      <a title="http://feeds.feedburner.com/Paolodona" onkeypress="window.open(this.href); return false;" onclick="window.open(this.href); return false;" href="http://feeds.feedburner.com/Paolodona">My RSS Feed</a>
      <br />
      <a title="http://twitter.com/paolodona" onkeypress="window.open(this.href); return false;" onclick="window.open(this.href); return false;" href="http://twitter.com/paolodona">Follow me on Twitter</a></p>
      <div class="spacer"></div>
      <p class="Heading_2"><a href="/archive.html">Blog Archive</a></p>
  </div>
  <div class="spacer"></div>
  
  <div class="g8 fl">
    <img src="/images/shapeimage_3.jpg"/>
    <p style="padding-bottom: 0pt; padding-top: 0pt; " class="Heading_4">In Rotterdam</p>
  </div>
  <div class="g8 fl">
    <img src="/images/shapeimage_4.jpg"/>
    <p style="padding-bottom: 0pt; padding-top: 0pt; " class="Heading_4">When I Was a Rock Star</p>
  </div>
  <div class="spacer"></div>
  <div class="g8 fl">
    <img src="/images/shapeimage_5.jpg"/>
    <p style="padding-bottom: 0pt; padding-top: 0pt; " class="Heading_4">Pineapple field in Hawaii</p>
  </div>
  <div class="g8 fl">
    <img src="/images/shapeimage_2.jpg"/>
    <p style="padding-bottom: 0pt; padding-top: 0pt; " class="Heading_4">RailsConf07 Speech</p>
  </div>
  <div class="spacer"></div>
  
