.header {
  background-image:url('/images/header.jpg');
  background-repeat:no-repeat;
  min-height: 400px;
}

.header h1 {
  color:#A80026;
  font-family:helvetica,arial,sans-serif;
  font-size:48px;
  letter-spacing:-2px;
  line-height:1em;
  margin:24px 0 24px;
  padding:0;
  text-align:left;
}

.header p {
  color:#333333;
  font-family:'HelveticaNeue-Bold','Helvetica Neue','Arial',sans-serif;
  font-size:28px;
  font-weight:bold;
  letter-spacing:0;
  line-height:31px;
  margin:0;
  padding:0;
  text-align:left;
}

.Heading_2 {
    color: #666666;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Heading_4 {
    color: #666666;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.content {
  clear: both;
  margin-top: 10px;
}

#twitter_update_list  {
  margin: 10px 0 0 0;
  padding: 0;
}

#twitter_update_list li {
    list-style-type: none;
    color: #666666;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 18px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    border-left: 8px solid #EEEEEE;
}

#twitter_update_list li a {
    color: #B0B0B0;
}


.Playlist {
    color: #666666;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Quote {
    color: #ffffff;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_title_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_shape_layout_style_default_External_350_400 {
    position: relative;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style {
    color: #0000ff;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: bold;
    opacity: 1.00;
}
.paragraph_style , .sidebar-title{
    color: #333333;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

a {
    color: #999999;
    text-decoration: underline;
}
a:visited {
    color: #666666;
    text-decoration: underline;
}
a:hover {
    color: #ff0000;
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
  clear: both;
  min-height: 18px;
  height: 18px;
  font-size: 1px;
  line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}

.footer {
  text-align: center;
}
